doctype html
html(ng-app='diveLog')
  head
    title Dive Log
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body
    .container-fluid(ng-controller='diveLogCtrl')
      h1 My Latest Dives
      .row
        .col-sm-12
          ul.nav.nav-pills
            li(ng-class="{active: activeLetter==''}")
              a(href='',ng-click="setFilter('')") All
            li(
              ng-repeat='letter in dives | startChars'
              ng-class='{active: activeLetter==letter}'
            )
              a(href='',ng-click='setFilter(letter)') {{letter}}
      .row
        .col-sm-4(ng-repeat="dive in dives | startWith :activeLetter")
          h3 {{dive.site}}
          h3 {{dive.location}}
          h3 {{dive | diveData : ' :: '}}
    script(src='/angular/angular.js')
    script(src='../dives.js')
    script
      :coffee-script
        angular.module 'diveLog', []
        .filter 'diveData', ->
          (value, separator) ->
            seperator = ' | ' unless angular.isDefined separator
            if angular.isDefined(value.depth) and angular.isDefined(value.time)
              "#{value.depth} feet#{separator}#{value.time} min"
            else
              value
        .filter 'startChars', ($filter) ->
          (items) ->
            return items unless angular.isArray items
            sorted = $filter('orderBy')(items, 'site')
            result = []
            lastChar = ''
            for item in sorted
              firstChar = item.site.charAt(0)
              result.push firstChar if firstChar isnt lastChar
              lastChar = firstChar
            result
        .filter 'startWith', ->
          (items, startChar) ->
            return items unless angular.isArray items
            (item for item in items \
              when startChar is '' or item.site.charAt(0) == startChar
            )
        .controller 'diveLogCtrl', ($scope) ->
          $scope.limitValue = 100
          $scope.dives = dives
          $scope.activeLetter = ''
          $scope.setFilter = (startChar) -> $scope.activeLetter = startChar
