extends ../layout.jade
block content
  form(name='regform')
    .form-group
      label.control-label User name
      input.form-control(
          autofocus
          name='userName'
          ng-model='userName'
          ng-model-options="{updateOn:'blur'}"
      )
    .form-group
      label.control-label Email
      input.form-control(
          type='email'
          name='email'
          ng-model='email'
      )
  hr
  p User name: {{userName}}
  p Email: {{email}}
