doctype html
html(ng-app=app)
  head
    title= title
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    if has_style
      link(rel='stylesheet' href='site.css')
    if template
      script(id=template_id type='text/ng-template' src=template)
  body()&attributes(controller?{'ng-controller':controller}:{})
    != yield
    if has_jqbs
      script(type='text/javascript' src='/jquery-2.1.4.js')
      script(type='text/javascript' src='/bootstrap/js/bootstrap.js')
    script(type='text/javascript' src='/angular/angular.js')
    for script in scripts||[]
      script(type='text/javascript' src=script)
