extends ../layout
block style
  style.
    .invalidField {
      border: 2px solid maroon;
      background-color: lightpink;
    }
block content
  form(name='simple',novalidate)
    .form-group
      label.control-label User name
      input.form-control(
          autofocus
          name='userName'
          ng-model='userName'
          ng-class='{invalidField: simple.userName.$invalid}'
          required
      )
    .form-group
      label.control-label Email
      input.form-control(
          name='email'
          ng-model='email'
          type='email'
          ng-class='{invalidField: simple.email.$invalid && simple.email.$touched}'
          required
      )
    input.btn.btn-primary(
        type='submit'
        ng-disabled='simple.$invalid'
        value="Save"
    )
