extends ../layout
block content
  form(name='diveProps')
    .radio
      label
        input(
            type='radio'
            name='gasType'
            ng-model='gasType'
            ng-value="'air'"
        )
        | &#32;Air
    .radio
      label
        input(
            type='radio'
            name='gasType'
            ng-model='gasType'
            ng-value="'nitrox'"
        )
        | &#32;Enriched air
    .radio
      label
        input(
            type='radio'
            name='gasType'
            ng-model='gasType'
            ng-value="'trimix'"
        )
        | &#32;Technical gas mix
    hr
    p The selected gas is: {{gasType}}
