form(name='simple',ng-submit='answer=userName')
  .form-group
    label.control-label User name
    input.form-control(
        autofocus
        name='userName'
        ng-model='userName'
        required
    )
  .form-group
    label.control-label Email
    input.form-control(
      autofocus
      name='email'
      ng-model='email'
      type='email'
      required
    )
hr
p The submitted user name is: <strong>{{answer}}</strong>
p Username: <strong>{{userName}}</strong>
p Email: <strong>{{email}}</strong>
