doctype html
html(ng-app)
  head
    title Text input
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body(style={'margin-top': '12px'})
    .container(ng-init='changeCount=0')
      form(name='simple')
        label.control-label Type in a value
        input.form-control(
          name='myVal'
          ng-model='myValue'
          ng-change='changeCount=changeCount+1'
          ng-required='true'
          ng-minlength=3
          ng-maxlength=9
          ng-trim='true'
          ng-model-option='{allowInvalid:true}'
        )
      hr
      table.table.table-bordered
        tbody
          tr
            td Value:
            td [{{myValue}}]
          tr
            td Changes:
            td {{changeCount}}
          tr
            td Is valid?
            td {{simple.myVal.$valid}}
          tr
            td Issue with required?
            td {{simple.myVal.$error.required}}
          tr
            td Issue with minlength?
            td {{simple.myVal.$error.minlength}}
          tr
            td Issue with maxlength?
            td {{simple.myVal.$error.maxlength}}
    script(src='/angular/angular.js')
