doctype html
html(ng-app)
  head
    title Form Submit
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body(style={'margin-top': '12px'})
    .container(ng-init="answer='';ctrl=''")
      form(name='simple',ng-submit="ctrl='Form'")
        .form-group
          label.control-label User name
          input.form-control(
              autofocus
              name='userName'
              ng-model='userName'
              ng-model-options="{updateOn:'blur'}"
              required
          )
        input.btn.btn-primary(
            ng-click="answer=userName;ctrl='Save'"
            type='submit'
            value="Save"
        )
      hr
      p
        | The submitted user name is:&nbsp;
        strong {{answer}}
      p
        | Submitted by:
        strong {{ctrl}}
    script(src='/angular/angular.js')
