doctype html
html(ng-app=app||'app')
  head
    title Dive Sites
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet' href='site.css')
  body(ng-controller='adminCtrl')
    // Navigation header
    nav.navbar.navbar-default.navbar-fixed-topn(role='navigation')
      .container
        button.navbar-toggle.collapsed(
          type='button'
          data-toggle='collapse'
          data-target='#adminMenu'
        )
          span.sr-only Toggle-navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        != partial(current.path[1]+"/_navbar")
    != yield
    script(src='/jquery-2.1.4.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/angular/angular.js')
    for script in scripts||[]
      script(type='text/javascript' src=script)
